<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="#"
      routerLink="productslist"
      routerLinkActive="text-light"
      [routerLinkActiveOptions]="{ exact: true }"
      >ProductsApp</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="productslist"
            routerLinkActive="text-light"
            [routerLinkActiveOptions]="{ exact: true }"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="login"
            routerLinkActive="text-light"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="register"
            routerLinkActive="text-light"
            [routerLinkActiveOptions]="{ exact: true }"
            >Register</a
          >
        </li>
        <li
          class="nav-item"
          routerLink="cart"
          routerLinkActive="bg-light"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link"
            ><i class="fas fa-shopping-cart"></i
            ><span
              ><span *ngIf="counter > 0">{{ counter }} </span></span
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
